@import "tailwindcss";

@theme {
  --color-primaryBlack: #191c1f;
  --color-warning: #ebc80c;
  --color-primary: #1b6392;
  --color-white: #ffffff;
  --color-lightGray: #475156;
  --color-black: #000000;
  --color-discount: #f3de6d;
  --color-primaryOrenge: #fa8232;
  --font-publicSans: "Public Sans", sans-serif;
}

a:hover {
  color: var(--color-warning);
  transition: 0.4s linear;
}
