@import "tailwindcss";

@theme {
  --color-primaryBlack: #191C1F;
  --color-warning: #EBC80C;
  --color-primary: #1B6392;
  --color-white: #FFFFFF;
  --color-lightGray: #475156;
  --color-black: #000000;
  --color-discount: #F3DE6D;
  --color-primaryOrenge: #FA8232;
  --font-publicSans: 'Public Sans', sans-serif;
}


.tast{
  transform: rotate(20deg);
}