@import "tailwindcss";

@theme {
  --color-primaryBlack: #191c1f;
  --color-warning: #ebc80c;
  --color-primary: #1b6392;
  --color-white: #ffffff;
  --color-lightGray: #475156;
  --color-black: #000000;
  --color-discount: #f3de6d;
  --color-primaryOrenge: #fa8232;
  --color-textColor: #191c1f;
  --font-publicSans: "Public Sans", sans-serif;
  --shadow-category: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

a:hover {
  color: var(--color-warning);
  transition: 0.4s linear;
}

.discountBtn {
  background-color: var(--color-discount);
  color: var(--color-black);
  padding: 10px 20px;
  border-radius: 2px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.discountBtn:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.fCategory::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background-color: var(--color-primaryOrenge);
}
.fCategory:hover::after {
  width: 90%;
  transition: width 0.3s ease-in-out;
}

.dropDown:hover .dropDownList {
  transform: scaleX(1);
}
.dropDownList {
  top: 65px;
  left: 0;
  transform: scaleX(0);
  background-color: var(--color-white);
  box-shadow: var(--shadow-category);
  z-index: 10;
  transition: 0.5s ease-in-out;
}


.limll{

display: grid;



}